# ################# REQUIRED ENV VARS START #################
PORT=8080
MONGODB_URI=mongodb://mongodb:27017 # `mongodb://localhost:27017` in case using local mongodb
NODE_ENV=development # changing this will avoid stack traces in the error response
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_SECRET_EXPIRES_IN=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_SECRET_EXPIRES_IN=
CORS_ORIGIN=http://localhost:3000 # `http://localhost:3000` in case using local frontend
# ################# REQUIRED ENV VARS END #################

# ################# CLOUDINARY ENV VARS START #################
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
# ################# CLOUDINARY ENV VARS END #################

# ################# NODEMAILER ENV VARS START #################
# -- visit the site to know how to send email with nodemailer --> "https://mohammadaman.hashnode.dev/how-to-send-an-email-from-your-gmail-account-with-nodemailer"
NODEMAILER_SMPT_SERVICE=
NODEMAILER_SMPT_HOST=
NODEMAILER_SMPT_PORT=
NODEMAILER_SMPT_AUTH_USER=
NODEMAILER_SMPT_AUTH_PASS=
# ################# NODEMAILER ENV VARS END #################